/* head */
#head,
.mail a {
    background-color: #0E0E0E;
    color: #adada4;
    font-size: 14px;
}

.mail i {
    color: red;

}

.number {
    margin-left: 10px;
}

.social-icons a {
    margin-left: 10px;
    color: #adada4;
}
@import url("/header.css");
@import url("/main.css");
@import url("/footer.css");  
/* navbar */
.day-text {
    font-size: 25px;
    font-weight: 500;
}

.nav-link {
    color: white !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    transition: 0.5s all;
    margin-left: 5px;
}

.nav-link:hover {
    color: blue;
    background-color: red;
}

.active {
    background-color: red;
}

.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
